* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: "BankGothic";
}
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  background-color: #555;
}

header {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 50px;
  width: 100%;
  z-index: 100;
}

nav {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 100px;
  border: 1px solid white;
  border-top: none;
  border-radius: 20% / 0 0 100px 100px;
  background-color: rgb(127, 127, 127);
  z-index: 200;
  overflow: hidden;
  transition: 0.8s height;
  max-width: 1280px;
  width: calc(100vw - 50px);
}

nav a {
  padding: 0px 10px;
  cursor: pointer;
  display: block;
  line-height: 50px;
  text-align: center;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

a.nome-header {
  font-size: 18pt;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.center {
  max-width: 1280px;
  width: calc(100vw - 50px);
}

main {
  background-image: linear-gradient(
    white 300px,
    black 300px 600px,
    black 600px,
    white 1200px,
    white
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

section.principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
}

h1 {
  position: relative;
  display: block;
  flex-direction: row;

  top: -20px;
  color: white;
  font-size: 40pt;
  font-family: "BankGothic";
  mix-blend-mode: difference;
  transition: 0.8s all;
}
h1.move {
  top: 20px;
}

nav.move {
  height: 30px;
}

nav.move a {
  line-height: 30px;
}

section.principal img {
  transform: scaleX(-1);
  background-color: rgb(127, 127, 127);
  width: 400px;
  height: 400px;
  object-fit: none;
  object-position: calc(100% + 30px) 0%;
  border-radius: 50%;
}

section.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  align-items: center;
  margin-top: 200px;
}

section.skills div {
  height: auto;
  width: 100%;
  border-left: 5px solid rgb(0, 82, 130);
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

section.skills h2 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-size: 50px;
}

.slider {
  margin-top: 100px;
  margin-bottom: 50px;
  height: 600px;
  background-color: rgba(50, 100, 180);
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  overflow: hidden;
  overflow-inline: 1000px;
}

.slider article.active{
  width: 600px;
  cursor: auto;
  transition: 0.8s width;
}

.slider article:not(.active) *{
  display: none;
}

.slider article{
  background-color: black;
  height: 100%;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  cursor: pointer;
  transition: 0.8s width;
}


footer {
  width: 100%;
  height: 150px;
  background-color: grey;
}

@font-face {
  font-family: "BankGothic";
  src: url(fontes/BNKGOTHL.TTF);
}